:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

html {
  font-size: 62.5%;
}
@media (max-width: 23.43em) {
  html {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.4rem;
  color: var(--White);
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.container {
  background: var(--Grey-900);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  max-width: 100%;
  background: var(--Grey-800);
  padding: 4.2rem 4rem 4rem 4rem;
  overflow: hidden;
  text-align: center;
  border-radius: 1.6rem;
}
.profile-card__owner-img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.profile-card__owner-name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.profile-card__owner-location {
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--Green);
}
.profile-card__owner-roles {
  margin-bottom: 2.2rem;
  color: hsl(0, 0%, 80%);
}

.socials {
  list-style-type: none;
}
.socials__link, .socials__link:visited {
  text-decoration: none;
  background: var(--Grey-700);
  display: block;
  border-radius: 0.8rem;
  padding: 1rem 0;
  color: var(--White);
  width: 30rem;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
.socials__link:hover::before, .socials__link:active::before, .socials__link:visited:hover::before, .socials__link:visited:active::before {
  transform: scale(1);
  width: 100%;
}
.socials__link::before, .socials__link:visited::before {
  content: "";
  width: 0.5rem;
  height: 100%;
  background: hsl(75, 94%, 30%);
  border-radius: 0.8rem;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.socials li:not(:last-child) {
  margin-bottom: 1.4rem;
}

.attribution {
  font-size: 1.4rem;
  text-align: center;
  background: var(--Grey-700);
  padding: 2rem;
  color: hsl(0, 0%, 80%);
}
.attribution__link, .attribution__link:visited {
  color: var(--Green);
  transition: decoration 0.3s ease;
  font-weight: 600;
}
.attribution__link:hover, .attribution__link:visited:hover {
  text-decoration: none;
}
.attribution__link:not(:last-child), .attribution__link:visited:not(:last-child) {
  margin-right: 1rem;
}/*# sourceMappingURL=style.css.map */